<style>
    @font-face {
      font-family: 'England';
      src: url('england.ttf') format('truetype');
    }
    @font-face {
      font-family: 'CK';
      src: url('CK_tc04160000125.ttf') format('truetype');
    }
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    .header {
      background-color: #f8f9fa;
      padding: 10px;
      text-align: center;
    }
    .tabs {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .tab {
      margin: 0 20px;
      font-size: 14px;
    }
    .container {
      width: 90%
      margin: 20px auto;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background: url("background2.jpg");
      background-size: 100% 100%;
      background-position: center;
    }
    h1 {
      text-align: center;
      color: #333;
      font-family: 'England', Arial, sans-serif; /* 폰트 적용 */
    }
    h2 {
      text-align: center;
      color: #333;
      font-family: 'CK', Arial, sans-serif; /* 폰트 적용 */
    }

    .gallery {
      max-width: 500px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .btn {
      display: block;
      width: 200px;
      margin: 20px auto;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      text-align: center;
      text-decoration: none;
      border-radius: 5px;
    }
    .wedding-photo {
      display: block;
      margin: 0 auto;
      width: 70%; /* 수정: 사진 크기 조절 */
      max-width: 400px;
      border-radius: 50%; /* 수정: 타원형 테두리 */
      border: 5px solid #fff; /* 수정: 테두리 스타일 및 색상 */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 추가: 그림자 효과 */
    }
    img {
      display: block;
      margin: 0 auto;
      width: 70%;
      max-width: 600px;
      cursor: pointer;
      transition: transform 0.3s
    }
    img:hover {
      transform: scale(1.1);
    }
</style>
